/* General Styles */
* {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    overflow-x: hidden;
    line-height: 1.6;
    font-size: 16px;
}

h1, h2, h3 {
    font-family: 'Poppins', sans-serif; /* Change font family for headings */
}

/* Header Styles */
header {
    background: linear-gradient(to right, #ffcc00, #ff9933);
    padding: 40px 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #ff9933;
}

header h1 {
    color: white;
    font-size: 3em;
    letter-spacing: 2px;
}

/* Navigation Styles */
nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    margin: 15px 0;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 1.2em;
}

nav ul li a:hover {
    color: #ffcc00;
}

/* Main Content Styles */
main {
    padding: 20px;
    background-color: #fff;
}

/* Section Styles */
section {
    background: white;
    margin: 20px 0;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    word-wrap: break-word;
}


}

.lyrics {
    flex: 1;


/* Footer Styles */
footer {
    text-align: center;
    padding: 20px;
    background-color: #f1f1f1;
    font-size: 0.9em;
    color: #888;
}

footer a {
    color: #ffcc00;
    text-decoration: none;
    font-weight: bold;
}


.text-with-image {
    display: flex;               /* Use Flexbox to align items horizontally */
    align-items: flex-start;     /* Align image and text at the top */
    margin-bottom: 20px;         /* Optional: space between content */
}

.text-with-image img {
    width: 20px;                /* Adjust the image width */
    height: 20px;                /* Ensure the height maintains aspect ratio */
    margin-right: 20px;          /* Space between the image and the text */
    border-radius: 8px;          /* Optional: Rounded corners on the image */
    
